*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #f5f5f5;
	color: #455a64;
}

#strings{
	font-family: consolas;
	font-size: 90%;
	background-color: #333;
	color: #fff;
	margin: 1em;
	padding: 1em;
	width: 50%;
	border-left: 5px solid #0097a7;
}
#strings p{
	margin-bottom: 5px;
	padding-left: 10px;
}
#strings p:before{
	content: "\007e";
	margin-right: 1em;
	font-size: 80%;
}